<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Doar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="gift"></ion-icon>
      <ion-label>Receber Doaçoes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Cadastro de Voluntário</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
