<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Receber Doaçoes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate__animated animate__fadeInLeft">
    <img
      class="img-item"
      src="https://drive.google.com/uc?id=1sHTj2Q5mnvQ7tGNRqc0zhGZLBBJjlP5V"
      alt="Imagem Solidariedade"
    />
    <p class="texto-item">
      Esta precisando de ajuda? Podemos te ajudar! Preencha os campos e fale com
      um voluntário. 🙏
    </p>
    <!-- <ion-button (click)="whats()" expand="block" type="submit"
      >Falar com Voluntario</ion-button> -->

      <form [formGroup]="form" (submit)="enviar()">
        <ion-item>
          <ion-label position="floating">Nome Completo</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
          <p class="error-message" *ngIf="form.get('nome')?.invalid && form.get('nome')?.dirty">
            Este campo requer {{form.get('nome')?.getError('minlength')?.requiredLength }} caracteres.
          </p>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Endereço</ion-label>
          <ion-input type="text" formControlName="endereco"></ion-input>
          <p class="error-message" *ngIf="form.get('endereco')?.invalid && form.get('endereco')?.dirty">
            Este campo requer {{form.get('endereco')?.getError('minlength')?.requiredLength }} caracteres.
          </p>
        </ion-item>
        <ion-button
          [disabled]="form.invalid || form.pending"
          expand="block"
          type="submit"
          >Salvar</ion-button
        >
      </form>
  </div>
</ion-content>
